:root{
    background-image:url(background.png);
    background-position-y: 0vh;
    background-repeat:no-repeat;
    background-size: 70%;
    background-position-x: 15vw;
    background-color: gray;
    --blue:rgba(78, 139, 196, 0.5);
    --lightBlue:rgba(1, 3, 5, 0.5);
}
body{
    height: 300vh;
    width: 1vw;
}

#navbar{
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    grid-template: repeat(1,5vh)/repeat(5, 20vw);
    border: 1px solid black;
    
}
#navbar>a{
    background-color:var(--blue);
    text-align: center;
    color: black;
    text-decoration:none;
    font-size:1.2vb;
}
#navbar>a:hover{
    background-color:var(--lightBlue);
}
#title{
    font-family: 'steamPunk';
}
#title>.top{
    margin-left: 30vw;
    text-align: center;
    margin-top: 10vh;
    width: 40vw;
    font-size: 1000%;
    font-weight: lighter;
    font-family: 'steamPunk';
    
}
#title>h1{
    font-size: 4vb;
}
#title>p{
    font-size: 2vb;
    text-align: left;
}
#icons{
    position:fixed;
    scale: 125%;
    left: 5vw;
    top: 10vh;
}
#icons>h1{
    font-size: 1.4vmax;
    font-weight: lighter;
    font-family: 'steamPunk';
}
#icons>h1>a{
    color: black;
}

#grid_games{
    margin-left: 25vw;
    width: 50vw;
    height: 100vh;
    display:grid;
    grid-template: repeat(20,auto)/repeat(4,auto);
    
}
#gameIntro{
    font-family: 'steampunk';
    font-size: x-large;
    grid-column-start: 1;
    grid-column-end: 6;
}

#grid_games>div{
    border: 1px solid black;
    scale: 100%;
}
#subnautica_1{
    margin-left: 8%;
    rotate: 20deg;
}
#subnautica_3{
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top: 10%;
    rotate: 0deg;
}

#raft_2{
    rotate: -10deg;
    margin-left: -30%;
}
#raft_1{
    position: relative;
    z-index: 2;
    rotate: 20deg;

}
#raft_3{
    rotate: 10deg;
    margin-top: 10%;
    margin-left: -10%;
}

#raft{
    grid-column-start: 2;
    grid-column-start: 1;
}

@font-face {
    font-family: 'steamPunk';
    src:url(Steamwheel-jE7gM.ttf);
}
