:root{
    background-image:url(background.png);
    background-position-y: 0vh;
    background-repeat:no-repeat;
    background-size: 50vw 200vh;
    background-position-x: 25vw;
    background-color: gray;
    --blue:rgba(78, 139, 196, 0.5);
    --lightBlue:rgba(1, 3, 5, 0.5);
}
body{
    height: 190vh;
    width: 1vw;
}

#navbar{
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    grid-template: repeat(1,5vh)/repeat(5, 20vw);
    border: 1px solid black;
    z-index: 500;
}
#navbar>a{
    background-color:var(--blue);
    text-align: center;
    color: black;
    text-decoration:none;
    font-size:1.2vb;
}
#navbar>a:hover{
    background-color:var(--lightBlue);
}
#title{
    font-family: 'steamPunk';
}
#title>.top{
    margin-left: 30vw;
    text-align: center;
    margin-top: 10vh;
    width: 40vw;
    font-size: 10vb;
    font-weight: lighter;
    font-family: 'steamPunk';
    
}
#title>h1{
    font-size: 1vb;
}
#title>p{
    font-size: 2vb;
    text-align: left;
}
#icons{
    position:fixed;
    scale: 1vb;
    left: 5vw;
    top: 10vh;
}
#icons>h1{
    font-size: 1.4vmax;
    font-weight: lighter;
    font-family: 'steamPunk';
}
#icons>h1>a{
    color: black;
}

#grid_games{
    margin-left: 25vw;
    width: 50vw;
    height: 100vh;
    display:grid;
    grid-template: repeat(60,auto)/repeat(3,auto);
    
}
#gameIntro{
    font-family: 'steampunk';
    font-size: 2vb;
    grid-column-start: 1;
    grid-column-end: 5;
}

#grid_games>div{
    border: 1px solid black;
    scale: 100%;
}
#subnautica_1{
    margin-left: 25%;
    rotate: -10deg;
}

#subnautica_3{
    padding-top: 50%;
    padding-left: 60%;
    rotate: 5deg;
    z-index: -1;
}
#subnautica_5{
    margin-top: 70%;
    margin-left: -65%;
    rotate: -13deg;
}
#subnautica_4{
    margin-top: 50%;
    margin-left: -105%;
    rotate: 23deg;
}
#subnautica_2{
    margin-top: -14%;
    margin-left: 105%;
    rotate: -3deg;
}

#raft_2{
    rotate: -10deg;
    margin-left: -30%;
}
#raft_1{
    position: relative;
    z-index: 2;
    rotate: 20deg;

}
#raft_3{
    rotate: 10deg;
    margin-top: 10%;
    margin-left: -10%;
}
#dst_1{
    margin-top: 10%;
    margin-left: 12%;
    rotate: 10deg;
}
#dst_2{
    rotate: -12deg;
}
#dst_3{
    margin-left: 0%;
    rotate: 30deg;
    z-index: -1;
}
#dst_4{rotate: -13deg;}

#subnautica{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 5;
    grid-row-end: 2;
    text-align: center;
    z-index: 3;
    font-size: 3vb;
}
#raft{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 5;
    grid-row-end: 4;
    text-align: center;
    z-index: 3;
    font-size: 3vb;
}

#dst{
    grid-column-start: 1;
    grid-row-start: 6;
    grid-column-end: 5;
    grid-row-end: 6;
    text-align: center;
    z-index: 3;
    font-size: 3vb;
}
#fo{
    grid-column-start: 1;
    grid-row-start: 8;
    grid-column-end: 5;
    grid-row-end: 8;
    text-align: center;
    z-index: 3;
    font-size: 3vb;
}
#fo_1{
    margin-left: 20%;
    rotate: 15deg;
}
#fo_2{
    margin-top: 10%;
    rotate: -16deg;
}
#fo_3{
    margin-top: 10%;
    rotate: 25deg;
}
#fo_4{
    margin-top: 10%;
    margin-left: -13%;
    rotate: -15deg;
    z-index: -1;
}
@font-face {
    font-family: 'steamPunk';
    src:url(Steamwheel-jE7gM.ttf);
}
